<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huation.hueware.test.TestMapper">
<resultMap type="com.huation.hueware.test.TestDTO" id="testDTO"></resultMap>

<select id="test" resultMap="testDTO">
SELECT * FROM member
</select>

</mapper>